*{

}

img.logo-main__img{
    width: 100px;
}

.elementor-463 .elementor-element.elementor-element-039eed7{
    --margin-bottom: -78px !important;
}

/* responsive */
@media (max-width: 767px) {
    .elementor-463 .elementor-element.elementor-element-039eed7 {
        --margin-top: 0px;
        --margin-bottom: -78px !important;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-8 .elementor-element.elementor-element-53a8512 .elementor-heading-title{
        font-size: 40px !important;
    }

    /* logo */
    .jkit-nav-identity-panel .jkit-nav-logo img{
        width: 100px !important;
    }
}